<div style="width:100%;  margin-bottom: -20px;" class="text-center">
    <div class="alert alert-info" style="width:80%; margin-left:auto; margin-right:auto;">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp; Tip - Press and hold the ctrl key to select more than one option or to de-select an option.
    </div>
</div>
